In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
pitches = pd.read_csv("../pitches.csv")
atbats = pd.read_csv("../atbats.csv")
games = pd.read_csv("../games.csv")

In [10]:
atbats = atbats.loc[:, ['g_id', 'ab_id', 'top']]

In [18]:
atbats.head()

        g_id       ab_id
0  201500001  2015000001
1  201500001  2015000002
2  201500001  2015000003
3  201500001  2015000004
4  201500001  2015000005

In [11]:
games = games.loc[:, ['away_team', 'g_id', 'home_team']]
games.head()

  away_team       g_id home_team
0       sln  201500001       chn
1       ana  201500002       sea
2       atl  201500003       mia
3       bal  201500004       tba
4       bos  201500005       phi

In [13]:
pitches = pitches.loc[:, ['px', 'pz', 'code', 'pitch_type', 'ab_id']]

In [14]:
# df.set_index('key').join(other.set_index('key'))
pitches_atbats = pd.merge(pitches, atbats)

In [16]:
all_data = pd.merge(pitches_atbats, games)
all_data.head()

,px,pz,code,pitch_type,ab_id,g_id,top,away_team,home_team
0,0.416,2.963,C,FF,2.015000e+09,201500001,True,sln,chn
1,-0.191,2.347,S,FF,2.015000e+09,201500001,True,sln,chn
2,-0.518,3.284,F,FF,2.015000e+09,201500001,True,sln,chn
3,-0.641,1.221,B,FF,2.015000e+09,201500001,True,sln,chn
4,-1.821,2.083,B,CU,2.015000e+09,201500001,True,sln,chn

In [17]:
all_data.tail()

,px,pz,code,pitch_type,ab_id,g_id,top,away_team,home_team
2867149,0.230280,1.784910,D,SL,2.018186e+09,201802431,False,mil,chn
2867150,-1.211049,2.479020,B,FF,2.018186e+09,201802431,False,mil,chn
2867151,-0.444578,2.619287,F,FF,2.018186e+09,201802431,False,mil,chn
2867152,-0.259813,1.336484,S,FF,2.018186e+09,201802431,False,mil,chn
2867153,0.279546,2.818937,X,FF,2.018186e+09,201802431,False,mil,chn

In [18]:
all_data.to_csv('../alldata.csv')